.home-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #f7f7f7;
    height: 100vh;
    padding: 0;

    h1{
        font-size: 45px;
        color: #155ba7;
        font-family: "Roboto", sans-serif;
        font-weight: 600;
        font-style: normal;
        margin: 10px;
    
    }
    
    // .inputSection{
    //     width:350px;
    //     height: 350px;
    //     /* background-color: #0066cc; */
    //     /* padding: 20px;
    //     margin: 20px; */
    //     margin: 0px;
    // }
    
    .buttons{
        // margin-bottom: 20px;
        display: flex;
        justify-content: left;
        margin: 10px;
    }
    
    .buttons button{
        /* height: 40px; */
        padding: 10px 10px;
        font-size: 12px;
        border: 1px solid black;
        cursor: pointer;
    }
    
    .studentButton{
        background-color: #f7f7f7;
        color: black;
        border-right: none;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    
    .studentButton.active{
        background-color: #333;
        color: white;
    }
    
    .adminButton{
        background-color: #f7f7f7;
        color: black;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    
    .adminButton.active{
        background-color: #333;
        color: white;
    }
    
    h3 {
        color: #333;
        font-size: 24px;
    }
    
    .buttons{
        display: flex;
    }
    
    
    
    // .images-container {
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     margin-top: -130px;
    // }
    
    // .side-by-side-image {
    //     width: 50%;
    //     border-radius: 10px;
    //     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    //     margin: 0 10px;
    // }
    // .links-container {
    //     margin-top: 20px;
    //     display: flex;
    //     flex-direction: column;
    //     gap: 10px;
    // }
    
    // .links-container a {
    //     color: #0066cc;
    //     text-decoration: none;
    // }
    
    // .links-container a:hover {
    //     text-decoration: underline;
    // }
}

