.degreeRequestContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    padding: 20px 30px;

    h2{
        margin: 10px auto;
        font-size: 30px;
    }
    .student-info{
        background-color: #f7f7f7;
        margin: 10px 10px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        // border: 1px solid black;
    
        .detailSection{
            // border: 1px solid black;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            // padding: 20p;
            margin: 20px 20px 0px 20px;
            flex-wrap: wrap;
            gap: 40px;
            
            .item{
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 17px;

                .field, label{
                    margin-right: 10px;
                    font-weight: 600;
                    // border: 1px solid black;
                }

                input{
                    padding: 8px;
                    width: 220px;
                    border-radius: 5px;
                    border: 1px solid gray;
                
                    &:disabled{
                    cursor: not-allowed;
                    }
                }

                .resultDate, .admissionYear{
                    width: 150px;
                 }

                textarea{
                    padding: 8px;

                    &:disabled{
                        cursor: not-allowed;
                    }
                }
            }
        }

        .reappearance{
            display: flex;
            gap: 5px;
            font-size: 17px;
            margin: 30px 10px;
            
            label{
                margin-right: 5px;
            }

            input{
                &:disabled{
                    cursor: not-allowed;
                }
            }
        }
    }

    .buttons{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 50px;
        width: 100%;

        .degreeOptions{
            gap: 10px;
            display: flex;
            align-items: center;
            // justify-content: space-between;
            width: 500px;

            button{
                padding: 10px 40px;
                border-radius: 5px;
                background-color: black;
                color: white;
                border: none;
                cursor: pointer;
            }
        }

        button{
            padding: 10px 40px;
            border-radius: 5px;
            background-color: red;
            border: none;
            color: white;
            cursor: pointer;

            &:disabled{
                cursor: not-allowed;
            }
        }
    }

    span{
        color: red;
    }
}









































// .student-dashboard-container {
//     display: flex;
//     justify-content: space-between;
//     padding: 20px;
//     background-color: #f5f5f5;
//     border-radius: 10px;
//     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
//     margin: 20px;
// }

// .student-info, .student-options {
//     width: 48%;
//     padding: 20px;
//     background-color: #fff;
//     border-radius: 10px;
//     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
// }

// .student-info h2, .student-options h2 {
//     margin-bottom: 20px;
// }

// .student-info p, .student-options button {
//     margin-bottom: 10px;
// }

// .student-options button {
//     display: block;
//     width: 100%;
//     padding: 10px;
//     border: none;
//     border-radius: 5px;
//     background-color: #333;
//     color: white;
//     cursor: pointer;
//     margin-bottom: 10px;
// }

// .student-options button:hover {
//     background-color: #555;
// }
