
.student-dashboard-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.student-info, .student-options {
    width: 48%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.student-info h2, .student-options h2 {
    margin-bottom: 20px;
}

.student-info p, .student-options button {
    margin-bottom: 10px;
}

.student-options button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
}

.student-options button:hover {
    background-color: #555;
}
