.admin-login {
    font-family: Arial, sans-serif;
    // background-color: #f7f7f7;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100%;

    .container {
        // background-color: #f7f7f7;
        padding: 20px; 
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 350px; /* Increased max-width */
        // width: 100%;
        text-align: center;


        h2 {
            margin-bottom: 20px;
            color: #333;
        }
        
        form {
            display: flex;
            flex-direction: column;

            span{
                color: red;
            }
        }
        
        label {
            margin-bottom: 5px;
            text-align: left;
        }
        
        input[type="text"],
        input[type="password"] {
            padding: 9px; /* Increased padding */
            margin-bottom: 20px; /* Increased margin */
            border: 1px solid #ccc;
            border-radius: 5px;
            // width: calc(100% - 32px); 
        }
        
        button {
            padding: 10px; /* Increased padding */
            background-color: black;
            border: none;
            border-radius: 5px;
            color: white;
            cursor: pointer;
            width: 90px;

            &:disabled{
                cursor:not-allowed;
            }
        }
        
        // input[type="submit"]:hover {
        //     background-color: #0056b3;
        // }
    }
}
