.adminDashboard{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    height: calc(100vh - 60px); /* Assuming the navbar height is 60px */
    padding-bottom: 60px; /* Same as the height of the navbar */

    .heading{
      background-color: #f6931d;
      border-radius: 20px;
      margin: 30px;
      padding: 1px 16px;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
      h3{
        font-family:Arial, Helvetica, sans-serif;
        color: white;
        font-size: 25px;
        // font-weight: 600;
        line-height: 32.68px;
        text-align: center;
      }
    }


      .buttons{
        // margin-bottom: 20px;
        display: flex;
        justify-content: left;
        margin-bottom: 20px;
        // width: 200px;
    
        button{
          /* height: 40px; */
          padding: 10px 10px;
          font-size: 12px;
          cursor: pointer;
      }
      
      .degreeButton{
        border: 1px solid black;
          background-color: #f7f7f7;
          color: black;
          border-right: none;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
      }
      
      .degreeButton.active{
          background-color: #333;
          color: white;
      }
      
      .migrationButton{
        border: 1px solid black;
          background-color: #f7f7f7;
          color: black;
          // border-left: none;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
      }
      
      .migrationButton.active{
          background-color: #333;
          color: white;
      }
      }

    .tableContainer{
        // background-color: gray;
        // max-width: 1200px;
        min-width: 1000px;
        display: flex;
        justify-content: center;
        align-items: center;
    
    
        .table{
            // width: 1047px;
            width: 100%;
            // margin-left: 209px;
            // margin-top: 15px;
            border-spacing: 0;
            border-collapse: collapse; /* Prevents double borders */
            
            border-radius: 15px; /* Rounded corners for the table */
            overflow: hidden; /* Needed to hide the overflow of rounded corners */
          
          }
    }

    .logout{
      padding: 12px 20px;
      color: white;
      background-color: black;
      border-radius: 5px;
      border: none;
      margin: 10px;
      cursor: pointer;

      &:disabled{
        cursor: not-allowed;
      }
    }

    span{
      color: red;
    }
}



  thead{
    height: 91px;
    top: 2390px;
  }
  
  td, th{
    height: 90px;
    font-family: Inter;
    font-weight: bold;
    font-size: 29px;
    line-height: 35.1px;
    text-align: left;
    padding-left: 15px;
    // align-items: center;
  }
  
  td{
    font-weight: 500;
  }
  
  th{
    background: #F5C4C4;
    overflow: hidden;
    border: none;
    color: black;
  }
  
   th:first-child{
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
  }
  
  th:last-child{
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
  }