.adminDashboard{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    height: 100%;

    h3{
        font-family: Inter;
        font-size: 27px;
        font-weight: 500;
        line-height: 32.68px;
        text-align: center;
        margin-top: 60px;
      }

    .tableContainer{
        // background-color: gray;
        // max-width: 1200px;
        min-width: 1000px;
        display: flex;
        justify-content: center;
        align-items: center;
    
    
        .table{
            // width: 1047px;
            width: 100%;
            // margin-left: 209px;
            // margin-top: 15px;
            border-spacing: 0;
            border-collapse: collapse; /* Prevents double borders */
            
            border-radius: 15px; /* Rounded corners for the table */
            overflow: hidden; /* Needed to hide the overflow of rounded corners */
          }
    }

    button{
      padding: 12px 20px;
      color: white;
      background-color: black;
      border-radius: 5px;
      cursor: pointer;

      &:disabled{
        cursor: not-allowed;
      }
    }

    span{
      color: red;
    }
}



  thead{
    height: 91px;
    top: 2390px;
  }
  
  td, th{
    height: 90px;
    font-family: Inter;
    font-weight: bold;
    font-size: 29px;
    line-height: 35.1px;
    text-align: left;
    padding-left: 15px;
  }
  
  td{
    font-weight: 500;
  }
  
  th{
    background: #F5C4C4;
    overflow: hidden;
    border: none;
    color: black;
  }
  
   th:first-child{
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
  }
  
  th:last-child{
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
  }